body { 
	font: 75% georgia, sans-serif;
	color: #555753; 
  background: #fff url(./Images/fireWatchBackground.png) no-repeat center center fixed;
  background-size: cover; 
	margin: 0; 
  padding: 0;
  height: 100%;
  overflow: hidden;
	}

* {
  box-sizing: border-box;
} 
.hidden {
  display: none;
}

/*Kjernen*/

.board {
  overflow: auto;
  padding: 20px;
  display: flex;
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 118px;
  bottom: 33px;
  padding-right: 15px;
  z-index: -5;
}
.list {
  display: inline-block;
  width: 250px;
  flex: 0 0 250px;
  vertical-align: top;
  overflow: auto;
  padding: 8px;
  border-radius: 8px;
  background: #f8f8f8;
  margin-right: 35px;
  margin-bottom: 180px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.card {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 8px 10px;
  -webkit-transition: all 0.3 ease;
  color: #000
}
.card:hover {
  opacity: 0.5;
}
.card.dragging {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-transform: rotate(-2deg);
}
.card-placeholder {
  display: block;
  height: 34px;
  border: 1px dashed #ddd;
  margin: 3px 0;
  border-radius: 5px;
}
.listname {
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  padding: 5px;
  border-bottom: 1px dashed #ddd;
  text-overflow: ellipsis;
  user-select: none;
}
.listname > span {
  float: right;
  font-weight: normal;
  font-size: 13px;
}

/*Button Styling*/

.listButton {
  position: absolute;
  color: black;
  border-color: #348AC7;
  left: 25px;
  top: 260px;
  margin-right: 260px;
  z-index: 2;
}

.addCard {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
  position: absolute;
	padding: 5px 20px;
  margin: 0px 10px 10px 0px;
  text-decoration: none;	
  z-index: 2;
  top: 88px;
  left: 120px;
}

.addCard:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.addCard:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

.newList {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
  position: absolute;
	padding: 5px 20px;
  margin: 0px 10px 10px 0px;
  text-decoration: none;	
  z-index: 2;
  top: 88px;
  left: 20px;
}

.newList:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.newList:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}


.header {
  position: relative;
  height: 60px;
  background-color: #2980B9;
  opacity: 0.2;
  top: -42px;
  
} 
.logo {
  width: 120px;
  left: 920px;
  position: relative;
  top: 10px;
  padding: 0px;
  margin: 0px;
  z-index: 3;
  
}
.logo small {
  font-size: 9px;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  display: block;
  text-align: right;
  letter-spacing: 1px;
}
.total-card-counter {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 15px;
}

/*Buttons */


.gradient-button {
  color: white;
  background: #4C8FFB;
  border: 1px #3079ED solid;
  box-shadow: inset 0 1px 0 #80B0FB;
  border-radius: 15px;
  width: 80px;
  padding: 5px;
  position: absolute;
  z-index: 5;
  right: 10px;;
  top: 90px;
  display: inline-block;
}

.gradient-button:hover {
  border: 1px #2F5BB7 solid;
  box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
  background: #3F83F1;
}

.gradient-button:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

/*********************Chat*************************/

/*Chat Containers*/

#chatContainer {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 420px;
  height: 300px;
  z-index: 1;
  display: none;
}

.personContainer {
  position: relative;
  background-color: #FFF;
  border-radius: 50px;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 350x;
  margin: 20px;
  z-index: 2;
}

.personContainer2 {
  position: relative;
  background-color: #2980B9;
  border-radius: 50px;
  right: 50px;
  bottom: 5px;
  height: 50px;
  width: 350px;
  margin: 20px;
  z-index: 2;
}

/*People Conversation */

.male {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-color: black 1px;
  background-color: transparent;
}

.female {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-color:black 1px;
  background-color: transparent
}

.maleText {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  bottom: -18px;
  left: 20px;
}

.femaleText {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  bottom: -18px;
  left: 6px;
}

.timeRight {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  float: right;
  bottom: -10px;
  right: 2px;
}

.timeLeft {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  float: left;
  bottom: -10px;
  right: -5px;
}

/* Skriv Melding her....*/
input[type=text] {
  bottom: 0px;
  right: 0px;
  width: 400px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 14px;
  background-color: white;
  background-image: url("./Images/send.png");
  background-size: 20px;
  background-position: 10px 3px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  z-index: 5;
  }


/*Progress Bar*/

.progressBar {
  background-color: #fff;
  position: relative;
  top: -42px;
  height: 25px;
  padding: 3px;
  width: 100%;
  margin: 0px 0;         
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  z-index: 5;           
}

.progressBar span {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;    
}

.blue span {
  background-color: #34c2e3;   
}

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);            
  
  animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.shine span {
  position: relative;
}

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}

.glow span {
  box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
  animation: animate-glow 1s ease-out infinite;          
}

@keyframes animate-glow {
0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
} 

/*CSS layout for kalenderen*/

.containerCalendar {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 100px;
  bottom: 0px;
}

.calendarCard{
  position: relative;
	width: 500px;
	height: 500px;
	padding: 0px;
  border: 20px;
}

.containerCalendar {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 100px;
  bottom: 0px;
}
 
.calendarCard{
  position: relative;
    width: 500px;
    height: 500px;
    padding: 0px;
  border: 20px;
}
 
.hideCalender{
  bottom: 0px;
  right: 415px;
  z-index: 2;
  position: absolute;
}
 
.buttonHideCalender{
  background: transparent;
  width: 40px;
  height: 40px;
  border: none;
}
 
.calendarImage {
  width: 50px;
  cursor: pointer; 
}

#hideCalender{
  display: none;
}

.table td, .table th {
  vertical-align: top;
  padding: .10rem;
  border-top: 1px solid rgb(222, 226, 230);
}

.cardHeader {
  font-size: 20px;
}

.naviButton-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.naviButton:focus, .btn:hover {
  text-decoration: none;
}

.naviButton {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 5px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 25px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.lead {
  font-size: 15px;
  font-weight: 300;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(12px + 15px);
}

.form-control {
  display: block;
  width: 100%;
  font-size:12px;
  line-height: 1.5;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  padding: 3px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 212, 218);
  border-image: initial;
  border-radius: 25px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/*----Kalender slutt----*/


/*CSS layout for pause nedteller  */

.countdownContainer {
  position: absolute;
  text-align: center;
  background: transparent;
  font-family: sans-serif;
  font-weight: 100;
  top: 0px;
  right: 0px;
  z-index: 2;
  width: 600px;
  height: 100px;
}

#textCount{
  color: rgb(20, 152, 185);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  border: 10px solid black;
}

#clockdiv{
    position: relative;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
    bottom: 0px;
    top: 8px;
    right: -15px;
}

#clockdiv > div{
    padding: 5px;
    border-radius: 3px;
    background: rgb(98, 179, 199);
    display: inline-block;
}

#clockdiv div > span{
    padding: 1px;
    border-radius: 3px;
    background: rgb(57, 131, 180);
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 10px;
}

#nedtellingButton {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 15px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  position: absolute;
  top: 25px;
  right: 10px;
}

#nedtellingButton:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

#nedtellingButton:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

#scrollHours {
  position: absolute;
  top: 30px;
  right: 170px;
  z-index: 3;
}

#scrollMinutes {
  position: absolute;
  top: 30px;
  right: 130px;
  z-index: 3;
}

#scrollSeconds {
  position: absolute;
  top: 30px;
  right: 90px;
  z-index: 3;
}

.countdownTitle {
  position: absolute;
  font-size: 20px;
  top: 3px;
  right: 100px;
  color: black;
}

#breakCountDown {
  color: rgb(238, 62, 62);
  font-size: 30px;
  z-index: 20;
  top: 50px;
  right:480px;
  position: relative;
  
}

/*----Nedteller slutt---- */

/*CSS layout for prosjekt nedteller */

.shutdownContainer {
  position: absolute;
  background: transparent;
  width: 300px;
  height: 50px;
  top: 20px;
  right: 400px;
  z-index: 3;
  
}

input[type=datetime-local] {
  background-color: rgb(98, 179, 199);
  background-image:url(./Images/kalender.png);
  background-size: 20px;
  background-position: -1px -1px;
  background-repeat: no-repeat;
  padding-left: 20px; 
  position: relative;
  height: 30px;
  right: 360px;
  padding: 0.5rem 1rem;
}

#startButton {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  top: 0px;
  left: 30px;
  position: relative;
}

#startButton:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

#startButton:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}

#inputDate{
  left: 20px;
  position: relative;
  padding: 10px;  
  width: 190px;
  padding-left:20px;
}

.shutdownTextContainer {
  background: transparent;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 400px;

}


#timer {
  color: #fff;
  font-size: 30px;
  z-index: 20;
  
}

.label {
  font-size: 25px;;
  padding-left: 20px;
}

/*----ShutdownCounter slutt----*/

