body{
    background-image: url("./Images/blueFlow.jpg");
    background-position: center;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.side{
    transform: scale(1);
    transition: all 500ms ease 0s;
}

.side:hover {
    transform: scale(1.2);
}

#barneside{
    position: absolute;
    right: 25%;
    top: 40%;
    width: 15%;
}

#OW{
    position: absolute;
}

#containerMAP p{
    position: absolute;
    color: wheat;
}

#voksen{
    position: absolute;
    right: 50%;
    top: 40%;
    width: 18%;
}

#tekst{
    position: absolute;
    top: 180px;
    left: 40px;
    color: white;
    font-family: 'Lucida Sans', bold; 
    font-size: 30px;
}