body { 
	font: 75% georgia, sans-serif;
	color: #555753; 
  background: #fff url(./backgroundBlueWood.jpg); 
  background-size: 110%;
	margin: 0; 
	padding: 0;
  }




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 500px;
  top: 100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #ECEDF0;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
  position: relative;
  top: 350px;
  left: 1000px;
  width: 25%;
}

.container-darker {
  border: 2px solid #42A5F5;
  background-color: #2196F3;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
  position: relative;
  top: 330px;
  left: 1050px;
  width: 25%;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Clear floats */
.container-darker::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.smile img {
  size: 5px;
  float: left;
  max-width: 60px;
  width: 10%;
  margin-right: 20px;
  border-radius: 50%;
  margin-top: 5px; 
  position: fixed;
}

/* Style images */
.mann img {
  position: absolute;
  float: right;
  max-width: 60px;
  width: 10%;
  margin-left: 5px;
  border-radius: 50%; 
  margin-top: 5px;   
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #ffffff;
}

/* Style chat text*/
.container {
  color: #000000;
  font-family: Helvetica, sans-serif;
  font-size: 12px; 
  font-style: normal; 
}

/* Style chat text*/
.container-darker {
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 12px; 
  font-style: normal; 
}





/* Skriv Melding her....*/
input[type=text] {
  top: 90%;
  right: 3%;
  width: 350px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 14px;
  background-color: white;
  background-image: url('send.png');
  background-size: 6%;
  background-position: 10px 3px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  }

.home img {
  top: 5px;
  bottom: 90px;
  position: absolute;
  max-width: 40px;
  width: 10%;
  margin-left: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

.pluss img {
  top: 5px;
  bottom: 90px;
  position: absolute;
  max-width: 40px;
  width: 10%;
  left: 90px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

.question img {
  top: 5px;
  bottom: 90px;
  position: absolute;
  max-width: 40px;
  width: 10%;
  right: 60px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

.user img {
  top: 5px;
  bottom: 95px;
  position: absolute;
  max-width: 45px;
  width: 10%;
  right: 0px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

.clock img {
  top: 5px;
  bottom: 95px;
  position: absolute;
  max-width: 45px;
  width: 10%;
  right: 185px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}
.bargraph img {
  top: 5px;
  bottom: 95px;
  position: absolute;
  max-width: 45px;
  width: 10%;
  right: 125px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

.calendar img {
  top: 5px;
  bottom: 95px;
  position: absolute;
  max-width: 45px;
  width: 10%;
  right: 250px;
  margin-right: 25px;
  border-radius: 10%; 
  margin-top: 5px;   
}

* {
  box-sizing: border-box;
}

.header {
  padding: 30px;
  height: 40px;
  position: relative;
  background-color: #B4B7BA; /* På vent */
} 
.logo {
  margin: -11px;
  left: 670px;
  position: relative;
  display: inline-block;
}
.logo small {
  font-size: 9px;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  display: block;
  text-align: right;
  letter-spacing: 1px;
}